@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Black.ttf") format("ttf"),
    url("./Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./img-5.jpg");
}
